@model IEnumerable<WeddingVibes.Models.Feedback.Feedback>

@{
    ViewData["Title"] = "Users Feedback";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- DataTables Example -->
<div class="card mb-3">
<div class="card-header">
    <i class="fas fa-table"></i>
    @ViewData["Title"]
</div>
<div class="card-body">

<div class="table-responsive">
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
                </tbody>
            </table>
        </div>
    </div>
    @* <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> *@
</div>